// 基础颜色
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// 侧边栏
$menuText: #fff;
$menuActiveText: #59c79f;
// https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText: #59c79f;

$menuBg: #3e5367;
$menuHover: #3e5367;

$subMenuBg: #334455;
$subMenuHover: #334455;

$sideBarWidth: 180px;

// export指令是webpack的神奇调料
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
}
