
.image-slot {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #c0c4cc;
}

//.cell-swipe-container {
//    padding-bottom: 5px;
//
//    .cell-swipe {
//        margin: 5px 0;
//        // 图片容器
//        .cell-image-container {
//            height: 100%;
//            display: flex;
//            align-items: center;
//            justify-content: center; //新增样式
//
//            .cell-image {
//                height: 130px;
//                width: 100%;
//                border-radius: 5px;
//                max-width: 100%; //新增样式，防止图片过大导致溢出
//            }
//        }
//
//        .cell-info-container {
//            height: 100%;
//            padding-left: 10px;
//            display: flex;
//            flex-direction: column;
//            justify-content: center;
//
//            .cell-info-item {
//                display: flex;
//                align-items: center;
//                margin-bottom: 8px;
//
//                .cell-info-item-title {
//                    font-size: 14px;
//                    color: #5ab3ff;
//                    width: 80px;
//                    margin-right: 10px;
//                }
//
//                .cell-info-item-value {
//                    font-size: 16px;
//                    color: #606266;
//                    font-weight: bold;
//                    white-space: nowrap;
//                    overflow: hidden;
//                    text-overflow: ellipsis;
//                    flex: 1;
//                }
//            }
//        }
//    }
//}
